@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@Html.Partial("PartialHead")

<body>

    @Html.Partial("PartialNavbar")

    @Html.Partial("PartialPageHeader")

    @await Component.InvokeAsync("ProductListComponentPartial")

    @await Component.InvokeAsync("FooterComponentPartial")

    @await Component.InvokeAsync("ScriptComponentPartial")
</body>

</html>